// Theme's Palette
@import("E:/WWW/blog/tl-study.github.io/node_modules/vuepress-theme-reco/styles/palette.styl")

// User's Palette
@import("E:/WWW/blog/tl-study.github.io/.vuepress/styles/palette.styl")