// Theme's Palette
@import("E:/WWW/front end/vue/vue3/blog-vuepress/node_modules/vuepress-theme-reco/styles/palette.styl")

// User's Palette
@import("E:/WWW/front end/vue/vue3/blog-vuepress/.vuepress/styles/palette.styl")